[flake8]
max-line-length = 120
max-complexity = 10
ignore =
    E501,
    E722,
    F401,
    F811,
    C901,
    W504
per-file-ignores =
    src/azure-cli/azure/cli/__main__.py:E402
exclude =
    azure_bdist_wheel.py
    build
    tools
    scripts
    doc
    build_scripts
    */grammar/
    vendored_sdks
    tests